force-app/main/default/flows/Apply_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Store_CreateUserDetails</name>
        <label>Store CreateUserDetails</label>
        <locationX>644</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>createUserInput.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailLC.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createUserInput.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_s_your_first_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createUserInput.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_s_your_last_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createUserInput.middleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_s_your_middle_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createUserInput.password</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secure_Password</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createUserInput.phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneLC.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creating_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Were_they_an_existing_customer</name>
        <label>Were they an existing customer?</label>
        <locationX>267</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Tell_us_about_you</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RenderSelectionsLWC.selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Displays the options to create a registered user</description>
    <interviewLabel>Apply Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Apply</name>
        <label>Apply</label>
        <locationX>279</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Were_they_an_existing_customer</targetReference>
        </connector>
        <fields>
            <name>DT1</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Let&apos;s get started&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RenderSelectionsLWC</name>
            <extensionName>c:renderSelectionsLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionsList</name>
                <value>
                    <stringValue>Yes~No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Are you an existing Weatherbys Bank customer?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ClientSelectsYes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Verdana, sans-serif; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;Please log into the online bank to view our full deposit product range and apply in minutes, alternatively you can contact your Private Banker on &lt;/span&gt;&lt;a href=&quot;tel:+44%2020%207292%209029&quot; target=&quot;_blank&quot; style=&quot;font-family: Helvetica; font-size: 10.5pt; color: rgb(191, 167, 124); background-color: white;&quot;&gt;+44 (0) 20 7292 9029&lt;/a&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt; or &lt;/span&gt;&lt;a href=&quot;mailto:privatebank@weatherbys.bank&quot; target=&quot;_blank&quot; style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; color: rgb(149, 79, 114);&quot;&gt;privatebank@weatherbys.bank&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RenderSelectionsLWC.selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ClientSelectsNo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Verdana, sans-serif; font-size: 10pt;&quot;&gt;What you’ll need to apply:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Verdana, sans-serif; font-size: 10pt;&quot;&gt;-&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Verdana, sans-serif; font-size: 10pt;&quot;&gt;You’ll personal and address details&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Verdana, sans-serif; font-size: 10pt;&quot;&gt;-&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Verdana, sans-serif; font-size: 10pt;&quot;&gt;A valid email address (we will contact via email about your application)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Verdana, sans-serif; font-size: 10pt;&quot;&gt;-&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Verdana, sans-serif; font-size: 10pt;&quot;&gt;A mobile phone number (so once your account is open, payments can be authorised via a One Time Passcode)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RenderSelectionsLWC.selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Creating_User</name>
        <label>Creating User</label>
        <locationX>825</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT66</name>
            <fieldText>&lt;p&gt;....Creating User, you will redirected shortly ...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateUserOnLoadLWC</name>
            <extensionName>c:createUserOnLoad</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>userDetails</name>
                <value>
                    <elementReference>createUserInput</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tell_us_about_you</name>
        <label>Tell us about you</label>
        <locationX>460</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Store_CreateUserDetails</targetReference>
        </connector>
        <fields>
            <name>DT2</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Tell us about you&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RenderSelectionsLwc2</name>
            <extensionName>c:renderSelectionsLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionsList</name>
                <value>
                    <stringValue>Mr~Mrs~Miss~Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>What&apos;s your title?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_s_your_first_name</name>
            <dataType>String</dataType>
            <fieldText>What&apos;s your first name?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_s_your_middle_name</name>
            <dataType>String</dataType>
            <fieldText>What&apos;s your middle name(s)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_s_your_last_name</name>
            <dataType>String</dataType>
            <fieldText>What&apos;s your last name?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DT3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Secure Application&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8pt; font-family: Verdana, sans-serif;&quot;&gt;We’ll use the following information to create a secure application area that you can return to at any point during the application process.&amp;nbsp;We’ll also use this email address to contact you with updates on your application.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailLC</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What email address would you like us to use?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>eg: email@email.com</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PhoneLC</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What mobile telephone number should we use?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Please include international code if not UK number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Secure_Password</name>
            <fieldText>Secure Password</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Verify_Password</name>
            <fieldText>Verify Password</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Apply</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createUserInput</name>
        <apexClass>ApplyFlowInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
