force-app/main/default/flows/Deposit_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Stage</name>
        <label>Stage: Complete Application</label>
        <locationX>837</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_About_You</name>
        <label>Stage: About You</label>
        <locationX>252</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>About_You</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Start</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Funding_Your_Account</name>
        <label>Stage: Funding Your Account</label>
        <locationX>721</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_your_account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>About_your_deposit_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Using_your_account</name>
        <label>Stage: Using your account</label>
        <locationX>174</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Using_Your_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Your_Account_Preferences</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SelectCountryDefault</name>
        <choiceText>-- Select Country --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>GetListOfCountries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>DepositApplication__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetSourceOfFundsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_of_Funds__c</picklistField>
        <picklistObject>DepositApplication__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Deposit Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deposit Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Application</name>
        <label>Save Application</label>
        <locationX>919</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>Stage_Funding_Your_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>SelectAddressLWC.addressLine1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>SelectAddressLWC.addressLine2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>SelectAddressLWC.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Of_Tax_Residency__c</field>
            <value>
                <elementReference>What_s_your_country_of_tax_residency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Which_country_do_you_live_in</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Birth__c</field>
            <value>
                <elementReference>What_s_your_country_of_birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Birth__c</field>
            <value>
                <elementReference>What_s_your_date_of_birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <elementReference>EmploymentStatusLWC.selected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>What_s_your_occupation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>SelectAddressLWC.zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>SelectAddressLWC.state</elementReference>
            </value>
        </inputAssignments>
        <object>DepositApplication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_to_Submitted</name>
        <label>Set to Submitted</label>
        <locationX>1269</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Save_Application</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>DepositApplication__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form</name>
        <label>Update Form</label>
        <locationX>1013</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Review_Application</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Save_Application</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allow_Marketing__c</field>
            <value>
                <elementReference>MarketingPreferences_RenderSelectionsLWC.selected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankingUserId__c</field>
            <value>
                <elementReference>Online_Banking_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>How_much_do_you_expect_to_deposit_when_the_account_is_open</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Post__c</field>
            <value>
                <elementReference>Post</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Telephone__c</field>
            <value>
                <elementReference>Telephone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Text_SMS__c</field>
            <value>
                <elementReference>Text_SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Funds__c</field>
            <value>
                <elementReference>Source_of_Funds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telephone_Banking_Word__c</field>
            <value>
                <elementReference>Telephone_Banking_Memorable_Word</elementReference>
            </value>
        </inputAssignments>
        <object>DepositApplication__c</object>
    </recordUpdates>
    <screens>
        <name>About_your_deposit_product</name>
        <label>About your deposit product</label>
        <locationX>514</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Identity_Check</targetReference>
        </connector>
        <fields>
            <name>PB5</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressType</name>
                <value>
                    <elementReference>progressType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>About your deposit</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_much_do_you_expect_to_deposit_when_the_account_is_open</name>
            <dataType>Number</dataType>
            <fieldText>How much do you expect to deposit when the account is open?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Source_of_Funds</name>
            <choiceReferences>GetSourceOfFundsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source of Funds</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_much_do_you_expect_to_deposit_when_the_account_is_open</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>250000.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUploadLWC</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Evidence of Funds</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Save_Application</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_much_do_you_expect_to_deposit_when_the_account_is_open</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>250000.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Identity_Check</name>
        <label>Identity Check</label>
        <locationX>300</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stage_Using_your_account</targetReference>
        </connector>
        <fields>
            <name>PB6</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressType</name>
                <value>
                    <elementReference>progressType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>We just need to be sure it&apos;s you</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>The identity check from Onfido will require using your phone to take video. You are required to complete this before continuing.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OnfidoLWC</name>
            <extensionName>c:onfidoIDCheck</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Personal_Details</name>
        <label>Personal Details</label>
        <locationX>716</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenEmploymentDetails</targetReference>
        </connector>
        <fields>
            <name>PB3</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressType</name>
                <value>
                    <elementReference>progressType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Personal Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_s_your_country_of_birth</name>
            <choiceReferences>SelectCountryDefault</choiceReferences>
            <choiceReferences>GetListOfCountries</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectCountryDefault</defaultSelectedChoiceReference>
            <fieldText>What&apos;s your country of birth?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_s_your_date_of_birth</name>
            <dataType>Date</dataType>
            <fieldText>What&apos;s your date of birth?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_s_your_country_of_tax_residency</name>
            <choiceReferences>SelectCountryDefault</choiceReferences>
            <choiceReferences>GetListOfCountries</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectCountryDefault</defaultSelectedChoiceReference>
            <fieldText>What&apos;s your country of tax residency?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Information</name>
        <label>Product Information</label>
        <locationX>621</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stage</targetReference>
        </connector>
        <fields>
            <name>PB8</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressType</name>
                <value>
                    <elementReference>progressType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Product Information</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DTProductInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Verdana, sans-serif; color: rgb(49, 49, 49);&quot;&gt;You will need to read and accept the following documents to complete your application. We will send you copies of these documents in our welcome email. We recommend you keep a copy of these for your records.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://info.weatherbys.bank/l/690823/2020-05-28/3q9ww/690823/66454/250_Day_Notice_Account_WRB.pdf&quot; target=&quot;_blank&quot; style=&quot;font-size: 10pt; font-family: Verdana, sans-serif; color: rgb(191, 167, 124);&quot;&gt;250 Day Notice Account product information&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://info.weatherbys.bank/l/690823/2020-05-21/3phj3/690823/65500/Terms_and_Conditions.pdf&quot; target=&quot;_blank&quot; style=&quot;font-size: 10pt; font-family: Verdana, sans-serif; color: rgb(191, 167, 124);&quot;&gt;Our general terms and conditions&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://info.weatherbys.bank/l/690823/2020-05-21/3phj1/690823/65498/FSCS_Depositor_Protection.pdf&quot; target=&quot;_blank&quot; style=&quot;font-size: 10pt; font-family: Verdana, sans-serif; color: rgb(191, 167, 124);&quot;&gt;Financial Services Compensation Scheme (FSCS) information&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_have_read_and_agree_to_the_terms_and_conditions_of_this_account_and_I_acknowle</name>
            <dataType>Boolean</dataType>
            <fieldText>I have read and agree to the terms and conditions of this account and I acknowledge receipt of the FSCS information sheet. I wish to continue with my application for a 250 Day Notice Account.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You must accept the terms and conditions to continue with the application&lt;/p&gt;</errorMessage>
                <formulaExpression>{!I_have_read_and_agree_to_the_terms_and_conditions_of_this_account_and_I_acknowle}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Application</name>
        <label>Review Application</label>
        <locationX>1130</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_to_Submitted</targetReference>
        </connector>
        <fields>
            <name>PB9</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressType</name>
                <value>
                    <elementReference>progressType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Review Application</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReviewDepositLWC</name>
            <extensionName>c:reviewDepositApplication</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Save_Application</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Start</name>
        <label>Start Screen</label>
        <locationX>493</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Personal_Details</targetReference>
        </connector>
        <fields>
            <name>PB2</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Residential Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressType</name>
                <value>
                    <elementReference>progressType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_country_do_you_live_in</name>
            <choiceReferences>SelectCountryDefault</choiceReferences>
            <choiceReferences>GetListOfCountries</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectCountryDefault</defaultSelectedChoiceReference>
            <fieldText>Which country do you live in?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_moved_to_current_address</name>
            <dataType>Date</dataType>
            <fieldText>Date moved to current address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectAddressLWC</name>
            <extensionName>c:selectAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countryCode</name>
                <value>
                    <elementReference>Which_country_do_you_live_in</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_country_do_you_live_in</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenEmploymentDetails</name>
        <label>Employment Details</label>
        <locationX>925</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Application</targetReference>
        </connector>
        <fields>
            <name>PB4</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressType</name>
                <value>
                    <elementReference>progressType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Employment Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmploymentStatusLWC</name>
            <extensionName>c:renderSelectionsLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>What&apos;s your employment status?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsList</name>
                <value>
                    <stringValue>Employed~Self Employed~Unemployed~Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selected</name>
                <value>
                    <stringValue/>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_s_your_occupation</name>
            <dataType>String</dataType>
            <fieldText>What&apos;s your occupation?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EmploymentStatusLWC.selected</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Unemployed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EmploymentStatusLWC.selected</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>1367</locationX>
        <locationY>477</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PB10</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressType</name>
                <value>
                    <elementReference>progressType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Thank you for your application</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DTt6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(49, 49, 49); font-family: Verdana, sans-serif; font-size: 10pt;&quot;&gt;You will shortly receive an email copy of the product&amp;nbsp;information for your records. If you have any questions please don’t hesitate to contact us.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(49, 49, 49); font-family: Verdana, sans-serif; font-size: 10pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Whilst we will aim to be in touch sooner, it could take up to 5&amp;nbsp;working days for us to contact you about the status of your application.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Your_Account_Preferences</name>
        <label>Your Account Preferences</label>
        <locationX>414</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Information</targetReference>
        </connector>
        <fields>
            <name>PB7</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressType</name>
                <value>
                    <elementReference>progressType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Your Account Preferences</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Online_Banking_User_Id</name>
            <dataType>String</dataType>
            <fieldText>Online Banking User Id</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Based on your preference, we&apos;ll generate for you a unique, secure  userid.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Telephone_Banking_Memorable_Word</name>
            <dataType>String</dataType>
            <fieldText>Telephone Banking Memorable Word</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;We&apos;ll use it to identify you on the phone&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MarketingPreferences_RenderSelectionsLWC</name>
            <extensionName>c:renderSelectionsLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionsList</name>
                <value>
                    <stringValue>Yes~No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Would you like to receive Weatherbys Bank marketing communication?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MarketingPreferences_RenderSelectionsLWC.selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Telephone</name>
            <dataType>Boolean</dataType>
            <fieldText>Telephone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MarketingPreferences_RenderSelectionsLWC.selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Post</name>
            <dataType>Boolean</dataType>
            <fieldText>Post</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MarketingPreferences_RenderSelectionsLWC.selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Text_SMS</name>
            <dataType>Boolean</dataType>
            <fieldText>Text (SMS)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MarketingPreferences_RenderSelectionsLWC.selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>About_You</name>
        <isActive>true</isActive>
        <label>About You</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Funding_your_account</name>
        <isActive>true</isActive>
        <label>Funding Your Account</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Summary</name>
        <isActive>true</isActive>
        <label>Summary</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Using_Your_Account</name>
        <isActive>true</isActive>
        <label>Using Your Account</label>
        <stageOrder>30</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Stage_About_You</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>progressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>base</stringValue>
        </value>
    </variables>
</Flow>
